<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../static/css/create-ad.css">
    <script type="module" src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.esm.js"></script>
    <script nomodule src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.js"></script>
</head>
</head>

<body>

    <section class="nav">
        <a href="../index.html" class="nav-child ">Əsas Səhifə</a>
        <a class="nav-child">Haqqımızda</a>
        <a class="nav-child">Blog</a>
        <a class="nav-child">Əlaqə</a>
        <div class="nav-child active">Yeni elan</div>
    </section>

    <section class="nav-icon-mobile">
        <ion-icon name="grid-outline" class="menu-icon-mobile"></ion-icon>
        <ion-icon name="grid" class="menu-im-cl"></ion-icon>
    </section>

    <section class="nav-mobile">
        <a href="../index.html" class="nav-child-mobile">Əsas Səhifə</a>
        <a class="nav-child-mobile">Haqqımızda</a>
        <a class="nav-child-mobile">Blog</a>
        <a class="nav-child-mobile">Əlaqə</a>
        <div class="nav-child-mobile active-mobile">Yeni elan</div>
    </section>

    <section class="create-ad">
        <div class="ca-header">
            <p>
                Elan yerləşdir
            </p>
            <div class="gradient"></div>
        </div>
        <div class="advertisement">
            <div class="item">
                <p>Kateqoriya <span>*</span></p>
                <div class="choose-category">
                    <p>Siyahıdan seçin</p>
                    <p><ion-icon name="chevron-down-outline"></ion-icon></p>
                </div>
            </div>
            <div class="item">
                <p>Şəhər <span>*</span></p>
                <div class="choose-city">
                    <div class="choose-public-element" id="choose-public-element">
                        <p class="city-name">Şəhər seçin.</p>
                        <p><ion-icon name="chevron-down-outline"></ion-icon></p>
                    </div>
                    <div class="choose-priv-element" id="choose-priv-element">
                        <p class="cityItem">Baku</p>
                        <p class="cityItem">Gəncə</p>
                        <p class="cityItem">Gədəbəy</p>
                        <p class="cityItem">Sumqayıt</p>
                        <p class="cityItem">Şəki</p>
                        <p class="cityItem">Lənkəran</p>
                        <p class="cityItem">Mingəçevir</p>
                        <p class="cityItem">Quba</p>
                        <p class="cityItem">Şirvan</p>
                        <p class="cityItem">Yevlax</p>
                        <p class="cityItem">Naxçıvan</p>
                        <p class="cityItem">Qazax</p>
                        <p class="cityItem">Göyçay</p>
                        <p class="cityItem">İsmayıllı</p>
                        <p class="cityItem">Ağdam</p>
                        <p class="cityItem">Ağdaş</p>
                        <p class="cityItem">Bərdə</p>
                        <p class="cityItem">Cəlilabad</p>
                        <p class="cityItem">Füzuli</p>
                        <p class="cityItem">Hacıqabul</p>
                        <p class="cityItem">Xaçmaz</p>
                        <p class="cityItem">Kürdəmir</p>
                        <p class="cityItem">Qəbələ</p>
                        <p class="cityItem">Qusar</p>
                        <p class="cityItem">Lerik</p>
                        <p class="cityItem">Masallı</p>
                        <p class="cityItem">Oğuz</p>
                        <p class="cityItem">Qəbələ</p>
                        <p class="cityItem">Salyan</p>
                        <p class="cityItem">Saatlı</p>
                        <p class="cityItem">Şamaxı</p>
                        <p class="cityItem">Tərtər</p>
                        <p class="cityItem">Ucar</p>
                        <p class="cityItem">Yardımlı</p>
                        <p class="cityItem">Zaqatala</p>

                    </div>
                </div>
            </div>
            <div class="item">
                <p>Qiymət <span>*</span></p>
                <input type="text">
            </div>
            <div class="item">
                <p>Məzmun </p>
                <textarea name="" id=""></textarea>
            </div>
        </div>
    </section>


    <script src="../static/js/create-ad.js"></script>
</body>

</html>